ffmpeg_executable = FFMPEG_EXECUTABLE
ffprobe_executable = FFPROBE_EXECUTABLE

# Default FFmpeg parameters to transcode incoming video to h264/aac (can be changed here to e.g. use hardware encoding)
# Which command line will be used depends on the input video file
# copying streams is always the preferred selection
#
# the command line will be build using this pattern
# <ffmpeg_executable> -hide_banner -loglevel warning -re -ss <starttime> -i <input file/url> <encode_video> <encode_audio> -y ffmpeg_output.ts
#
# The default parameters are
# encode_video = -c:v libx264 -preset veryfast -x264-params keyint=60:min-keyint=60:scenecut=0:force-cfr=1:crf=28
# or in case of only copying
# encode_video = -c:v copy
#
# The default encode_audio is
# encode_audio = -c:a aac -b:a 192k
# or in case of only copying
# encode_audio = -c:a copy

# encode_video = -c:v libx264 -preset veryfast -x264-params keyint=60:min-keyint=60:scenecut=0:force-cfr=1:crf=28
# encode_audio = -c:a aac -b:a 192k

# UDP packet size - default, if not configured is 1316
# Packet size must be a multiple of 188
# if udp_packet_size x is less than 188, then the packet size will be 188 * x
# if udp_packet_size x is greater or equals 188, then the value x will be used as is as packet size
# Minimum is 188, Maximum is 65424.
udp_packet_size = 1316

# UDP buffer stze (default is 31960 = 170 * 188)
udp_buffer_size = 31960
