Source: vdr-osr-browser
Section: video
Priority: optional
Maintainer: Zabrimus <ppa@hannebauer.org>
Build-Depends: debhelper (>= 9), dh-exec,
 libcurl4-openssl-dev, pkg-config, cmake, libx11-dev, libnss3, libnspr4, libfontconfig1, libxcomposite1, libxdamage1, libxext6, libxfixes3, libxrender1, libx11-xcb1, libxcb-dri3-0, libxcursor1, libdbus-1-3, libpango-1.0-0, libpangocairo-1.0-0, libxi6, libxtst6, libdrm2, libdrm-intel1, libdrm-amdgpu1, libxrandr2, libgbm1, libxss1, libasound2, libatk1.0-0, libatk-bridge2.0-0, libcups2, libatspi2.0-0
Standards-Version: 4.1.2
Homepage: https://github.com/Zabrimus/vdr-osr-browser

Package: vdr-osr-browser
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, libcurl3 | libcurl4, libx11-6, libnss3, libnspr4, libfontconfig1, libxcomposite1, libxdamage1, libxext6, libxfixes3, libxrender1, libx11-xcb1, libxcb-dri3-0, libxcursor1, libdbus-1-3, libpango-1.0-0, libpangocairo-1.0-0, libxi6, libxtst6, libdrm2, libdrm-intel1, libdrm-amdgpu1, libxrandr2, libgbm1, libxss1, libasound2, libatk1.0-0, libatk-bridge2.0-0, libcups2, libatspi2.0-0
Description: Offscreen browser for VDR using CEF
 <insert long description, indented with spaces>

