#!/usr/bin/make -f
#export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_configure:
	mkdir -p thirdparty/cef/build && \
	cd thirdparty/cef/build && \
	cmake .. && \
	make -j 6
	mkdir -p thirdparty/nng-1.3.0/build && \
	cd thirdparty/nng-1.3.0/build && \
	cmake .. && \
	$(MAKE) -j 6
	mkdir -p thirdparty/spdlog/build && \
	cd thirdparty/spdlog/build && \
	cmake -DCMAKE_INSTALL_PREFIX=../buildbin .. && \
	$(MAKE) -j 6 install && \
	cd ../buildbin/ && if [ -d lib64 ]; then ln -s lib64 lib; fi

override_dh_auto_build:
	$(MAKE) release
